name: Release

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: true
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.15" # The Go version to download (if necessary) and use.
      - name: build
        run: |
          go build
          echo $(basename ${GITHUB_REF})
          